<html>
<head>
  <title>Homepage</title>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Slab" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<center>
<body>
<div class="header">
<h1>Homepage</h1>
</div>

  <div class="container">

<!-- Version B is alternative: show all tasks, no "task list" icon -->
    {{#if viewAlt}}
    Welcome back! Here are your tasks for today.
    {{#each tasks}}
      <div class="row box box{{index}}" id="task">
        <img src="{{image}}" id="taskimage">
        <div id="taskinfo">
          <a href="task/{{name}}/{{description}}/{{time}}/{{index}}">{{name}}</a><br>
          <br>
        </div>
        <div id="tasktime">{{time}}</div>
        <!-- end ROW -->
      </div>
    {{/each}}

<!-- Version A is original: show one task at a time, with "task list" icon -->
    {{else}}
    Welcome back! Your upcoming task is below: <br><br>
{{#with taskrh}}
    <div class="row"><center>
      <div id="task-homepage">
      <img src="{{image}}" id="homepage_image">
    </center>

    <div class="row">
      <div id="task">
<a href="task/{{name}}/{{description}}/{{time}}/{{index}}">{{name}}</a><br>
      {{description}}<br>
<b>{{time}}</b>
    </div>
      <!-- end ROW -->
  </div>
  <br>
</div>
      {{/with}}
      {{/if}}
</div>


<!--Navigation Starts Here-->
<div id="navigation">
  <div class="row">
    <div class="column"><a href="homepage"><img src="/images/general/home_ACTIVE.png"></a></div>
    {{#if viewAlt}}
    <div class="column"><a href="create_task"><img src="/images/general/nav-add.png"></a></div>

    {{else}}
    <div class="column"><a href="task_list"><img src="/images/general/list-512.png"></a></div>
    {{/if}}
    <div class="column"><a href="profile"><img src="/images/general/view_profile.png"></a></div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {

      var div_lengths = $('div.box').length;

      $('.box0').css("left", "50%");
      $('.box0').show();

      $('.container').on('click', 'div.box', function() {
        var length = $(this)[0].className.length;
        var index = parseInt($(this)[0].className[length-1]);
        $(this).animate({left: '-150%'}, 500 );
        if (index >= div_lengths-1) {
          index = 0;
        } else {
          index += 1;
        }
        var select = '.box' + index;
        $(select).show();
        $(select).animate({left: '50%'}, 500 );
        $(this).hide();
        $(this).animate({left: '150%'}, 100 );
        });

  });

</script>

</body></center>
</html>
