<!DOCTYPE HTML>
<!-- original homepage design for archiving -->
<html>
<head>
  <title>Homepage</title>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Slab" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<center>
<body>
<div class="header">
Homepage
</div>
  <div class="container">
<!-- Version B is alternative: show all tasks, no "task list" icon -->
    <p><center>Welcome back! Here are your tasks for today. Click the arrow to see other tasks.</center></p><br>
    {{#each tasks}}
      <div class="box box{{index}}">
        <img src="{{image}}">
          <a href="task/{{name}}/{{description}}/{{time}}/{{index}}">{{name}}</a><br>
          {{description}}<br>
        {{time}}
        <!-- end ROW -->
      </div>
    {{/each}}

</div><br><br><br>

<!--Navigation Starts Here-->
<div class="slider_right"><i class="right"></i></div>
<div id="navigation">
  <div class="row">
    <div class="column"><a href="homepage"><img src="/images/general/home_ACTIVE.png"></a></div>
    <div class="column"><a href="create_task"><img src="/images/general/nav-add.png"></a></div>
    <div class="column"><a href="profile"><img src="/images/general/view_profile.png"></a></div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {

      var div_lengths = $('div.box').length;

      $('.box0').css("left", "50%");
      $('.box0').show();

      $('.container').on('click', 'div.box', function() {
        var length = $(this)[0].className.length;
        var index = parseInt($(this)[0].className[length-1]);
        $(this).animate({left: '-150%'}, 500 );
        if (index >= div_lengths-1) {
          index = 0;
        } else {
          index += 1;
        }
        var select = '.box' + index;
        $(select).show();
        $(select).animate({left: '50%'}, 500 );
        $(this).hide();
        $(this).animate({left: '0%'}, 100 );
        });

  });

    $('.slider_right').on('click', function() {
      $('div.box').each(function () {
        if ($(this).css('display') === "block") {
          $(this).trigger('click');
          return false
        }
      });
    });


</script>

<script src="/js/clickListener.js"></script>

<!-- Google Analytics Script -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115429097-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115429097-1');
</script>
<!-- End of Google Analytics Script -->

</body></center>
</html>
</doc>
