<html>
<head>
  <title>Homepage</title>
  <link href="/css/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Slab" rel="stylesheet">
</head>

<center>
<body>

  <div class="content">
    <center>
    <h1>Upcoming Task</h1></center>

{{#with taskrh}}
    <div class="row"><center>
      <img src="{{image}}" id="homepage_image">
    </center>
    </div>
    <div class="row">
      <div id="task">

<a href="task/{{name}}/{{description}}/{{time}}">{{name}}</a><br>
      {{description}}<br>

    </div>
    <div id="tasktime">{{time}}</div>
      <!-- end ROW -->
  </div>
  <br>
      {{/with}}
</div>

<!--Navigation Starts Here-->
<div id="navigation">
  <div class="row">
    <div class="column"><a href="parent_homepage"><img src="/images/general/home_ACTIVE.png"></a></div>
    <div class="column"><a href="task_list"><img src="/images/general/list-512.png"></a></div>
    <div class="column"><a href="profile"><img src="/images/general/view_profile.png"></a></div>
  </div>
</div>

</body></center>
</html>
